h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 21.6px;
  font-weight: bold;
}

h3 {
  font-size: 19.2px;
  font-weight: bold;
}

h4 {
  font-size: 16.8px;
  font-weight: bold;
}

section#artists ul, section#albums ul {
  color: #6666ff;
  height: 300px;
  overflow: scroll;
  list-style: none;
  padding: 0;
}
section#artists ul li, section#albums ul li {
  cursor: pointer;
}
section#artists ul li:hover, section#albums ul li:hover {
  text-decoration: underline;
}

section#albums li.album {
  clear: both;
}
section#albums li.album ol, section#albums li.album img {
  float: left;
}
section#albums li.album lh {
  font-size: 14.4px;
  font-weight: bold;
  color: #333333;
}
