<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" ng-app="radioApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">		
		<title></title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>		
		<script type="text/javascript" src="controllers/CatalogController.js"></script>
		<script type="text/javascript" src="controllers/QueueController.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" title="Bootstrap" type="text/css" media="screen" charset="utf-8">
	</head>
	<body>
	  
    <div id="wrapper">
      <div id="toolbar">
        <div id="tools">      
          <div id="nowplaying">
            <span class="song_title">{{nowplaying.title}}</span> : <span class="song_artist">{{nowplaying.artist}}</span>
          </div>
          <div id="ops">
            <img class="player_mute" src="/theme/cramppbo/images/tools/sound_high.png" />
            <span id="volume">
              <img src="/theme/cramppbo/images/volnotch.gif" alt="" rel="1" /><img src="/theme/cramppbo/images/volnotch.gif" alt="" rel="2" /><img src="/theme/cramppbo/images/volnotch.gif" alt="" rel="3" /><img src="/theme/cramppbo/images/volnotch.gif" alt="" rel="4" /><img src="/theme/cramppbo/images/volnotch.gif" alt="" rel="5" /><img src="/theme/cramppbo/images/volnotch.gif" alt="" rel="6" /><img src="/theme/cramppbo/images/volnotch.gif" alt="" rel="7" /><img src="/theme/cramppbo/images/volnotch.gif" alt="" rel="8" /><img src="/theme/cramppbo/images/volnotch.gif" alt="" rel="9" /><img src="/theme/cramppbo/images/volnotch.gif" alt="" rel="10" />
            </span>
            <span class="advanced">
              <a href="/?op=login">Listen here</a>
            </span>
          </div>
          <span class="nowlistening"><span class="indicators"></span><span class="listeners"></span></span>                      
        </div>
        <div class="progress"><div class="slider"></div></div>                  
      </div>
      
      <section id="collection" ng-controller="CatalogController">
        <h1>Collection</h1>
        <section id="artists">
          <h1>Artists <input type="text" ng-model="artistFilter" placeholder="Filter artists" /></h1>
          <ul>
            <li class="artist closed" ng-repeat="artist in artists | filter:artistFilter" ng-click="getArtistDetail($event, artist.key)">{{artist.name}}</li>  
          </ul>
        </section>    
        <section id="albums" ng-show="selectedArtist.length>0">
          <h1>Albums <input type="text" ng-model="albumFilter" placeholder="Find album, track" /></h1>
          <ul>
            <li ng-repeat="album in selectedArtist | filter:albumFilter">
              <img ng-src="{{album.icon}}" width="125" height="125" />
              <h2>{{album.artist}}: {{album.name}}</h2>
              <ol>
                <li ng-repeat="track in album.tracks" value="{{track.trackNum}}">{{track.name}}</li>
              </ol>
            </li>
          </ul>
        </section>
      </section>
      
      <section id="queue" ng-controller="QueueController">
        <h1>Upcoming</h1>
        <aside>
          <h2>Welcome to salt mines radio!</h2>
          <p>We believe that good music is a key ingredient to productivity, and Salt Mines Radio is what fuels us. Here is what we're listening to right now, and what's coming up next. Click "Listen here" to listen along with us. Or, better yet, <a href="http://saltmines.us">join us at The Salt Mines</a> and listen and request along with us!</p>
        </aside>      
        <ol>
          <li ng-repeat="track in queue">
            <span class="name">{{track.name}}</span>
            <span class="artist">{{track.artist}}</span>
          </li>
        </ol>
      </section>
      
      <div id="RdioStream"></div>
      <div id="RdioPreview"></div>      
      <div class="hidden">
        <div id="popup">
          <div id="message"></div>
        </div>
        <a href="#popup" id="popuplink"></a>
    
        <div id="howitworks1">
          <img src="/images/howitworks/step1.png" align="right" vspace="5" />
          <p>When you first get to salt mines radio and log in to your Rdio account, you'll start listening to the play queue. If you like what you see coming up, you don't have to do anything else! Just enjoy!</p>
          <p>If you would like to add some specific songs to the upcoming queue, though, you can start by clicking on the "Request a song" bar at the top of the page.</p>
        </div>
        
      </div>
    </div>
    
    <footer>
      <div class="details">
        &copy; 2014 salt mines radio      </div>
      <div class="rdio">
        Powered by <a href="http://click.linksynergy.com/fs-bin/click?id=Y5hfCBRENkU&offerid=221756&type=3&subid=0" target="_blank"><img src="/theme/cramppbo/images/RdioWhiteLogo.png" border="0" /></a>, <a href="http://typekit.com/colophons/goy0iya" target="_blank">fonts by Typekit</a>
      </div>
    </footer>
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1446018-10']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>    
  </body>
</html>