<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" ng-app="radioApp">
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">		
		<title></title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-animate.min.js"></script>		
		<script type="text/javascript" src="app.js"></script>		
		<script type="text/javascript" src="controllers/CatalogController.js"></script>
		<script type="text/javascript" src="controllers/QueueController.js"></script>		
		<script type="text/javascript" src="services/QueueService.js"></script>
		<script type="text/javascript" src="directives.js"></script>
		<script type="text/javascript" src="filters.js"></script>
    <script type="text/javascript" src="http://use.typekit.com/goy0iya.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="css/style.css" type="text/css" />
	</head>
	<body>	  
    <header>
      radio.saltmines.us
    </header>
    <div class="container">
      <section id="collection" ng-controller="CatalogController">
        <header ng-click="toggleCatalog()">Request</header>
        <div class="row" ng-show="catalogVisible" ng-animate="{show: 'animate-show', hide: 'animate-hide' }">
          <div class="col-md-6">
            <section id="artists">
              <h1>Artists <input type="text" ng-model="artistFilter" placeholder="filter" /></h1>
              <ul>
                <li class="artist" ng-repeat="artist in artists | filter:artistFilter" ng-click="getArtistDetail($event, artist.key)">{{artist.name}}</li>  
              </ul>
            </section>    
          </div>
          <div class="col-md-6">
            <section id="albums" ng-show="selectedArtist.length>0">
              <h1>Albums <input type="text" ng-model="albumFilter" placeholder="filter" /></h1>
              <ul>
                <li class="album" ng-repeat="album in selectedArtist | filter:albumFilter">
                  <img ng-src="{{album.icon}}" width="125" height="125" />
                  <ol>
                    <lh>{{album.artist}}: {{album.name}}</lh>                  
                    <li class="track" ng-repeat="track in album.tracks" value="{{track.trackNum}}" ng-click="getTrackDetail($parent.$index, $index)">{{track.name}}</li>
                  </ol>
                </li>
              </ul>
            </section>
          </div>
          <modal-dialog show="modalShown" width="750px" height="60%">
            <h1>Track Details</h1>
            <img ng-src="{{selectedArtist.selectedAlbum.selectedTrack.icon}}" />
            <h2>{{selectedArtist.selectedAlbum.selectedTrack.name}}</h2>
            <h3>{{selectedArtist.selectedAlbum.selectedTrack.artist}} - {{selectedArtist.selectedAlbum.name}}</h3>
            <h4>{{selectedArtist.selectedAlbum.selectedTrack.duration | duration}}</h4>  
            <button ng-click="queueTrack(selectedArtist.selectedAlbum.selectedTrack.key)" ng-disabled="working">Request</button>
          </modal-dialog>    
        </div>                 
      </section>
      <div class="row">   
        <div class="row-md12">       
          <section id="queue" ng-controller="QueueController">
            <h1>Upcoming</h1>
            <aside>
              <h2>Welcome to salt mines radio!</h2>
              <p>We believe that good music is a key ingredient to productivity, and Salt Mines Radio is what fuels us. Here is what we're listening to right now, and what's coming up next. Click "Listen here" to listen along with us. Or, better yet, <a href="http://saltmines.us">join us at The Salt Mines</a> and listen and request along with us!</p>
            </aside>      
            <ol>
              <li class="track" ng-repeat="track in queue" ng-style="{ 'background-image': 'url({{track.icon}})' }">
                <span class="detail">
                  <div class="name">{{track.name}}</div>
                  <div class="artist">{{track.artist}}</div>
                </span>
              </li>
            </ol>
          </section>
        </div>
      </div>
    </div>   
    
    <div id="RdioStream"></div>
    <div id="RdioPreview"></div>      
    <div class="hidden">
      <div id="popup">
        <div id="message"></div>
      </div>
      <a href="#popup" id="popuplink"></a>
  
      <div id="howitworks1">
        <img src="/images/howitworks/step1.png" align="right" vspace="5" />
        <p>When you first get to salt mines radio and log in to your Rdio account, you'll start listening to the play queue. If you like what you see coming up, you don't have to do anything else! Just enjoy!</p>
        <p>If you would like to add some specific songs to the upcoming queue, though, you can start by clicking on the "Request a song" bar at the top of the page.</p>
      </div>
      
    </div>
      
    <footer>
      <div class="details">
        &copy; 2014 salt mines radio      </div>
      <div class="rdio">
        Powered by <a href="http://click.linksynergy.com/fs-bin/click?id=Y5hfCBRENkU&offerid=221756&type=3&subid=0" target="_blank"><img src="/theme/cramppbo/images/RdioWhiteLogo.png" border="0" /></a>, <a href="http://typekit.com/colophons/goy0iya" target="_blank">fonts by Typekit</a>
      </div>
    </footer>
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1446018-10']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>    
  </body>
</html>